# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*

# Env files (por si después agregas)
.env
.env.local
.env.*.local

# Dependencies (si después migras a Next.js)
node_modules/
